* {
  margin: 0;
  padding: 0;
}

html, 
body{
  height: 100%;
}

.container {
  text-align: center;
  box-sizing: border-box;
  display: grid;
  height: 100%;
  grid-template: repeat(12, 1fr) / repeat(5, 1fr);
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  display: grid;
}

.header {
  background-color: #393f4d;
  grid-area: 1 / 1 / 3 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header .logo{
  grid-area: 1 / 1 / 2 / 2;
  text-align: start;
}

.header .menu{
  grid-area: 1 / 2 / 2 / 4;

}

ul{
  list-style-type: none;
}

.menu ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-area: 3 / 1 / 12 / 2;
  display: grid;
  gap: 2rem;
  text-align: center;
}

.sidebar div, .nav ul{
  display: grid;
  align-items: center;
  justify-content: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: 3 / 2 / 4 / 6;
}

.nav ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: 4 / 2 / 12 / 6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 12 / 1 / 13 / 6;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}